<!doctype html>
<html lang="en" data-bs-theme="dark">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    
    
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">



    
  <title>NESMOS</title>
  <link rel="icon" href="NETMO_LOGO.png">
  

</head>

<body>
  <header>
    <!--This is the navbar function.-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('views.home')}}">NESMOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Interface Configuration
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('interfacechanges.interfacechanges')}}">Interface Changes</a></li>
                <li><a class="dropdown-item" href="{{ url_for('interfacesecurity.interfacesecurity')}}">Interface Security</a></li>
                
                
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Global Configuration
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('routing.routing')}}">Routing Commands</a></li>
                <li><a class="dropdown-item" href="{{ url_for('global_commands.global_commands')}}">Global Commands</a></li>
                
               
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Monitoring
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('views.show_commands')}}">Show Commands</a></li>
                <li><a class="dropdown-item" href="{{ url_for('views.priv_commands')}}">Privileged Executive Commands</a></li>
                
               
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('views.upload')}}">Upload</a>
            </li>
           
    
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div class="d-flex px-2">
            <a class="btn btn-secondary" href="{{ url_for('views.login')}}" role="button">Connect</a>
          </div>
        </div>
      </div>

    </nav>
    <!--This is where navbar function ends.-->
      </header>

      <div class = 'container-sm new_input'>
        <div class="form-group">
          <label for="ipaddress">IP Address</label>
          <input type="text" class="form-control" id="ipaddress" name="ipaddress" aria-describedby="IP" placeholder="Enter the IP Address">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password1">Password</label>
          <input type="password" class="form-control" id="password" name="password" aria-describedby="password"
            placeholder="Enter your Password">
        </div>
        <div class="form-group">
          <label for="secret">Enable Secret</label>
          <input type="password" class="form-control" id="secret" name="secret" aria-describedby="secret"
            placeholder="Enter your Enable Secret Password">
        </div>
        <!--Start of the form group to select which routing protocol-->
        <div class="form-group">
          <label for="selectBox">Choose your Commands:</label>
          <select class="form-select" id="selectBox" name="selectBox" required>
            <option value="">Choose an option</option>
            <option value="vlan_name">VLAN Creation</option>
            <option value="ip_default_gateway">IP Default-Gateway for Switch</option>
          </select>
          <div id="vlan_name_form" class="form-group d-none">
            <div class="form-group">
              <label for="vlan_id_for">Enter VLAN ID</label>
              <input type="text" class="form-control" id="vlan_id" name="vlan_id" aria-describedby="vlan_id" placeholder="Enter VLAN ID">
            </div>
            <div class="form-group">
              <label for="vlan_name_for">Enter VLAN Name</label>
              <input type="text" class="form-control" id="vlan_name" name="vlan_name" aria-describedby="vlan_name" placeholder="Enter VLAN Name">
            </div>
          </div>

          <div id="ip_default_gateway_form" class="form-group d-none">
            <div class="form-group">
              <label for="ip_default_gateway_for">Enter Default-Gateway Address</label>
              <input type="text" class="form-control" id="ip_default_gateway" name="ip_default-gateway" aria-describedby="ip_default_gateway" placeholder="Enter the Default Gateway Address">
            </div>
	  </div>
        <div class="py-4 container-sm">
          <button class="btn btn-primary" id="submitButton" onclick="global_commands_config()">Send Config</button>
        </div>
    
    
      
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </div>

        <p>Result:</p>
	<p id="result"></p>





    <script src="{{ url_for('static', filename='styles/index.js')}}"></script>
    <script src="{{ url_for('static', filename='styles/global_commands.js')}}"></script>

    <script src="{{ url_for('static', filename='styles/bootstrap.bundle.min.js')}}"></script>
</body>

</html>