<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NETMO</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Optional theme file -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

</head>
<body>
  <form action="/calculate" method="post">
   <div class="form-group">
     <label for="ipaddress">IP Address</label>
     <input type="ipaddress" class="form-control" id="ipaddress" aria-describedby="IP" placeholder="Enter the IP Address">
   </div>
   <div class="form-group">
     <label for="username">Username</label>
     <input type="username" class="form-control" id="username" placeholder="Username">
   </div>
   <div class="form-group">
     <label for="password1">Password</label>
     <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Enter your Password">
   </div>
   <div class="form-group">
     <label for="secret">Enable Secret</label>
     <input type="secret" class="form-control" id="secret" aria-describedby="secret" placeholder="Enter your Enable Secret Password">
   </div>
   <div class="form-group">
     <label for="port">Port Info</label>
     <input type="port" class="form-control" id="port" aria-describedby="port" placeholder="Enter the Port Info (xx/xx/xx)">
   </div>
   <div class="form-group">
     <label for="vlan">VLAN Number</label>
     <input type="vlan" class="form-control" id="vlan" aria-describedby="vlan" placeholder="Enter the VLAN Number">
   </div>
   <div class="form-group">
     <label for="description">Description</label>
     <input type="description" class="form-control" id="description" aria-describedby="description" placeholder="Enter a Description">
   </div>
   <div class="form-check">
     <input type="checkbox" class="form-check-input" id="exampleCheck1">
     <label class="form-check-label" for="exampleCheck1">Confirm this is the right configuration you would like sent</label>
   </div>
   <button type="submit" class="btn btn-primary">Send Config</button>
  </form>
  
   
</body>
</html>
