<!doctype html>
<html lang="en" data-bs-theme="dark">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    
    
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    
  <title>NESMOS</title>
  <link rel="icon" href="{{ url_for('static', filename='images/NETMO_LOGO.png') }}">
 
  

</head>

<body>
  <header>
    <!--This is the navbar function.-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('views.home')}}">NESMOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Interface Configuration
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('interfacechanges.interfacechanges')}}">Interface Changes</a></li>
                <li><a class="dropdown-item" href="{{ url_for('interfacesecurity.interfacesecurity')}}">Interface Security</a></li>
                
                
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Global Configuration
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('routing.routing')}}">Routing Commands</a></li>
                <li><a class="dropdown-item" href="{{ url_for('global_commands.global_commands')}}">Global Commands</a></li>
                
               
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Monitoring
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('showcommands.showcommands')}}">Show Commands</a></li>
                <li><a class="dropdown-item" href="{{ url_for('views.priv_commands')}}">Privileged Executive Commands</a></li>
                
               
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('views.upload')}}">Upload</a>
            </li>
           
    
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <div class="d-flex px-2">
            <a class="btn btn-secondary" href="{{ url_for('views.login')}}" role="button">Connect</a>
          </div>
  
  
        
        
  
   
          
  
        </div>
      </div>
    
  
      
    </nav>
    <!--This is where navbar function ends.-->
      </header>
  <!-- This is where the form begins -->

  <div class = 'container-sm new_input'>
    <div class="form-group">
      <label for="ipaddress">IP Address</label>
      <input type="text" class="form-control" id="ipaddress" name="ipaddress" aria-describedby="IP" placeholder="Enter the IP Address">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Username">
    </div>
    <div class="form-group">
      <label for="password1">Password</label>
      <input type="password" class="form-control" id="password" name="password" aria-describedby="password"
        placeholder="Enter your Password">
    </div>
    <div class="form-group">
      <label for="secret">Enable Secret</label>
      <input type="password" class="form-control" id="secret" name="secret" aria-describedby="secret"
        placeholder="Enter your Enable Secret Password">
    </div>
    <div class="form-group">
      <label for="port">Port Info</label>
      <input type="text" class="form-control" id="port" name="port" aria-describedby="port"
        placeholder="Enter the Port Info (xx/xx/xx)">
    </div>
    <div class="form-group">
      <label for="selectBox">Select an Access or Trunk Port:</label>
      <select class="form-select" id="selectBox" name="selectBox" required>
        <option value="">Choose an option</option>
        <option value="option1">Access</option>
        <option value="option2">Trunk</option>
      </select>
    </div>

    <div id="trunk_port_div" class="form-group d-none">
      <label for="trunk_port_input">VLANS</label>
      <input type="text" class="form-control" id="trunk_port" name="trunk_port" placeholder="Enter All trunkated VLAN numbers seperated by commas(i.e. 100,200,300,...,XXX):">
    </div>
    <div id="access_port_div" class="form-group d-none">
      <label for="access_port_input">VLAN</label>
      <input type="text" class="form-control" id="access_port" name="access_port" placeholder="Enter VLAN Number:">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <input type="text" class="form-control" id="description" name="description" aria-describedby="description"
        placeholder="Enter a Description">
    </div>
    <p class="new_input">Would you like to add a Speed Policy?</p>
    <div>
      <input type="radio" name="option" id="yes_speed_policy" value="option1" class="form-check-input">
      <label for="option1">Yes</label>
    </div>
    <div>
      <input type="radio" name="option" id="no_speed_policy" value="option2" class="form-check-input">
      <label for="option2">No</label>
    </div>
    


    <div id="content1" class="hidden">
      <div class="mb-3 container-sm">
        <label for="speedLimit" class="form-label">Speed Limit:</label>
        <input type="text" class="form-control" id="speedLimit" name="speedLimit" placeholder="Enter Speed Limit ">
      </div>
    </div>
    <p class="new_input">Would you like to add an IP Address to this interface?</p>
    <div>
      <input type="radio" name="option" id="yes_ip_add" value="option1" class="form-check-input">
      <label for="option1">Yes</label>
    </div>
    <div>
      <input type="radio" name="option" id="no_ip_add" value="option2" class="form-check-input">
      <label for="option2">No</label>
    </div>
    


    <div id="content_yes_ip" class="hidden">
      <div class="mb-3 container-sm">
        <label for="add_ip" class="form-label">IP Address for Interface</label>
        <input type="text" class="form-control" id="add_ip" name="add_ip" placeholder="Enter the IP Address I.e. 192.168.11.1">
      </div>
      <div class="mb-3 container-sm">
        <label for="subnet" class="form-label">Subnet Mask</label>
        <input type="text" class="form-control" id="subnet" name="subnet" placeholder="Enter Subnet Mask I.e. 255.255.255.0 ">
      </div>
    </div>
    <div class="py-4 container-sm">
      <button class="btn btn-primary" id="submitButton" onclick="sendconfig()">Send Config</button>
    </div>


  
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">


  <!-- This is where the form ends -->
  



  <script src="{{ url_for('static', filename='styles/index.js')}}"></script>
  <script src="{{ url_for('static', filename='styles/interfacechanges.js')}}"></script>

  <script src="{{ url_for('static', filename='styles/bootstrap.bundle.min.js')}}"></script>

</body>

</html>