<!doctype html>
<html lang="en" data-bs-theme="dark">
 <head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    
    
    <link  href="bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    
  <title>NESMO</title>
  <link rel="icon" href="NETMO_LOGO.png">
  

</head>

<body>
  <header>
    <!--This is the navbar function.-->
    <nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('home')}}">NESMO</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Interface Configuration
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{{ url_for('interface_changes')}}">Interface Changes</a></li>
                <li><a class="dropdown-item" href="interface_security.html">Interface Security</a></li>
                
                
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Global Configuration
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="routing.html">Routing Commands</a></li>
                <li><a class="dropdown-item" href="global_commands.html">Global Commands</a></li>
                
               
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Monitoring
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="show_commands.html">Show Commands</a></li>
                <li><a class="dropdown-item" href="priv_commands.html">Privileged Executive Commands</a></li>
                
               
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="upload.html">Upload</a>
            </li>
           
    
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          
          
  
        </div>
      </div>
    </nav>
    <!--This is where navbar function ends.-->
      </header>
  <div class="container-sm">
    <div class="mb-3">
      <label for="formFile" class="form-label">Input your .txt and .csv</label>s
      <input class="form-control" type="file" id="formFile">
    </div>
  </div>





  <script src="bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>

</html>
